@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@800&display=swap');

:root {
    --primary-color: #4b89ba;
    --secondary-color: #6cc2b9;
    --accent1-color: #f4ebb2;
    --accent2-color: #e9f6ff;

    --heading-font: 'Poppins', sans-serif;
    --paragraph-font: 'Montserrat',sans-serif;

    --nav-background-color:#4b89ba;
    --nav-link-color:#e9f6ff;
    --nav-link2-color:#4b89ba;
    --nav-hover-link-color:#f4ebb2;
    --nav-hover-background-color:#6cc2b9;
}

body {
    font-family: var(--paragraph-font);
    padding: 0px;
    margin: 0px;
}

h1{
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

p {
    padding: 25px;
}

header {
    background-color: var(--primary-color);
    padding: 20px;

    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

header img {
	width: auto;
	height: auto;
    float: left;

}


nav {
    text-align: right;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 10px; 
    
}

nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 20px;
    margin: 0 10px; 
    box-sizing: border-box;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}


.hero{
    position: relative;
}

.hero h1{
    position: absolute;
    font-family: var(--heading-font);
    color: var(--accent2-color);
    top: 250px;
    left: 45%;
    margin:0; 
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

.hero article{
    position: absolute;
    background-color: rgba(233, 246, 255,0.7);
    top:40%;
    right: auto;
    text-align: justify; 
    padding: 0.65rem;
    
}

.hero article img {
    float: right;
    max-width: 300px;
    margin: 10px 10px 10px 10px;
    
}



h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    width: 100%; 
    text-align: center; 
    margin-top: 100px;
    margin-bottom: 10px; 
}

section img {
    max-width: 100%; 
    margin: 0 10px 10px; 
}

.history-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.history-content img {
    width: 350px;
}

.history-content p {
    flex: 1;
    margin: 0 10px;

}

.figure-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 10px;
    text-align: center;
}

.figure-content img{
    width: auto;
    height: auto;
}

footer{
    background-color: var(--primary-color);
    margin-top: 100px;
    text-align: center;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}
footer p{
    text-align:center;
    flex-grow: 1;
    margin-left: 500px;
    color: var(--accent2-color);
}

footer img {
    float: right;
    width: 30px;
    height: auto;
}



/*Contact us*/
.contact-info {
    padding: 0.65rem;
    display: grid;
    text-align: center;
}

.map iframe{
    border: black 1px solid;
}

.employee, .offerings {
    padding: 1px 0 10px 0;
}

.employee-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 10px;
    text-align: center;
}

.employee-content img{
    width: auto;
    height: auto;
}


form{
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: var(--accent2-color);
    display: grid;
}

fieldset{
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

legend{
    padding: 0.5rem;
    color: var(--primary-color);
    font-size: 1.3em;
}

label {
    font: var(--paragraph-font);
    text-align: left;
    padding-right: 1rem;
    margin-left: 20px;
}

input, select, textarea{
    font: var(--paragraph-font);
    padding: 0.5rem;
    font-size: 1.1rem;
    margin: 10px;
    width: auto;
}

input[type="radio"], input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    margin-left: 20px;
}

button{
    font: var(--paragraph-font);
    margin: 1rem 0 0 15rem;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
    width: 150px;
    
}

button:hover {
    background-color: var(--secondary-color);
}

.form-item{
    display: grid;
    align-items: center;

}

.column1{
    grid-template-columns:  0.3fr 5fr;
    margin: 0.5rem 0 ;
}

.column2 {
    grid-template-columns: 1fr 4fr;
}

/* Home Page */

.banner {
    position: relative;
}

.banner img{
    width:100%;
}

.banner h1, .trip-banner h1{
    position: absolute;
    top:5%;
    right: 350px;
    text-align: center; 
    padding: 0.65rem;
    color: var(--accent2-color);
    font-size: 60px;
    
}

.call-button{
    background-color: var(--secondary-color);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    top:30%;
    right: 45%;
    border-radius: 5px;
    font-size: 20px;
}

.call-button:hover, .call-button:active {
    background-color:var(--primary-color);
  }

.grid-container {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
grid-gap: 20px;
margin: 10px 30px 20px 100px;
}

.item {
text-align: center;
border-radius: 10px;
padding: 20px;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
margin-top: 20px;
width: 80%;

}

.item img {
width: 400px;
height: 300px;
}

.item h2 {
margin-top: 10px;
}

.item p {
margin-bottom: 20px;
}

/*Trip*/
.trip-banner {
    position: relative;

}

.trip-banner img{
    width:100%;
}

.trip-banner h1{
    position: absolute;
    top:20%;
    right: 250px;
    text-align: center; 
    padding: 0.65rem;
    color: white;
    font-size: 40px;
    
}

.book-button{
    background-color: var(--primary-color);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    top:60%;
    right: 45%;
    border-radius: 5px;
    font-size: 20px;
}

.book-button:hover, .book-button:active, .contact-button:hover, .contact-button:active{
    background-color:var(--secondary-color);
}

.trip-container {
display: flex;
justify-content: space-around;
}

.trip-table {
width: 30%;
border-collapse: collapse;
margin-top: 100px;
text-align: center;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
thead{
    font-size: 20px;
}

.trip-table th, .trip-table td {
padding: 20px;
border: 1px solid #ddd;
}

.trip-table th {
background-color: var(--secondary-color);
}

.trip-table tbody tr:nth-child(even) {
background-color: #f9f9f9;
}


.contact-button{
    background-color: var(--primary-color);
    color: var(--accent2-color);
    text-decoration: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 14px;
    border-radius: 5px;
   
}

* {
box-sizing: border-box;
}

.row {
display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
flex: 50%;
padding: 30px;
background-color: var(--primary-color);
color: #fff
}
.column-2 {
flex: 50%;
padding: 20px;
height: auto;
background-color: white;
}
.column img, .column-2 img{
width: 100%;
height: auto;
margin-right: 50px;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
margin-top: 20px;

}
.column h2 {
color: #fff;
}